<!-- <app-home-navigation></app-home-navigation> -->
<!-- <div class="container-fluid bg-light"> -->

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"> 
      <h3 style="text-align: center">
        <b><i><span style="background-color:black;color: white">Register</span></i></b> and enjoy more Benefits!
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-3"> 
      <div class=logo>
        <a routerLink="/"><img src="../../../assets/img/logo.png "></a>
      </div>
    </div>
  </div>
  
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="border-light" style="border: 7px">
          <form [formGroup]="form1" (ngSubmit)="signup()"> 
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                  <input type="email" class="form-control" id="inputEmail" formControlName="email" required autocomplete="new-password" value=ra@gma.com>
                  <div *ngIf="form1.get('email').invalid  && (form1.get('email').dirty || form1.get('email').touched) "
                  class="help-block">Please enter a valid email
                  <div *ngIf="form1.get('email').errors['required'] &&  form1.get('email').touched"
                    class="help-block">This field is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" formControlName="password" value="1223456" >
                <div *ngIf="form1.get('password').invalid && (form1.get('password').dirty || form1.get('password').touched)"
                  class="help-block">Please enter a valid password
                  <div *ngIf="form1.get('password').errors['required']"
                    class="help-block">This field is required   
                  </div>
                </div>
              </div>

              <!-- <div class="form-group col-md-6">
                <label for="confirmPassword">Repeat Password</label> 
                <input type="password" class="form-control" id="confrimPassword" formControlName="confirmpassword" >
                <div *ngIf="form1.get('matching_passwords').get('confirmpassword').invalid || form1.get('matching_passwords').invalid && (form1.get('matching_passwords').get('confirmpassword').dirty || form1.get('matching_passwords').get('confirmpassword').touched)"
                  class="help-block">Password doesn't match
                  <div *ngIf="form1.get('matching_passwords').get('confirmpassword').errors['required']"
                    class="help-block">This field is required
                  </div>
                </div>
              </div> -->
            </div>  
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputuserName">Username</label>
                <input type="text" class="form-control" id="inputuserName" formControlName="userName" placeholder="Username"  >
                <div *ngIf="form1.get('userName').invalid  && (form1.get('userName').dirty || form1.get('userName').touched) "
                  class="help-block">Please enter a valid User Name
                  <div *ngIf="form1.get('userName').errors['required']"
                    class="help-block">This field is required
                  </div>
                </div>    
              </div>
              <!-- <div class="form-group col-md-6">
                <label for="inputlasttName">Last Name</label>
                <input type="text" class="form-control" id="inputlastName" formControlName="lastName" placeholder="Last Name">
                <div *ngIf="form1.get('lastName').hasError.invalid && (form1.get('lastName').dirty || form1.get('lastName').touched)"
                  class="help-block">Please enter a valid Last Name
                    <div *ngIf="form1.get('lastName').errors['required']"
                    class="help-block">This field is required
                    </div>
                </div>
              </div> -->
            </div>
            
            <!-- <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputGender">Gender</label>
                
                <select class="form-control" id="inputGender" formControlName="gender">
                  <option>Male</option>
                  <option>Female</option>
                </select>
                <div *ngIf="form1.get('gender').errors['required']"
                  class="help-block">This field is required
                </div>
              </div>
            </div> -->
              
              <!-- {{this.matching_passwords_group.controls['password'].value}} -->
              <!-- {{this.matching_passwords_groups'.controls('password').value}} -->
              
              
            <!-- <div class="form-row">
              <div class="form-group col-md-6">
               
                <div class="form-control" formControlName="terms">
                  
                <label class="container">I have read and understand the <u>Privacy and Cookies Policy</u>
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
                </div>
              </div>
            </div> -->
            
            <a routerLink="/measurements" >Do what to get your personalized model? </a>

            <div class="form-row">
              <!-- <div *ngIf="form1.valid" class="notification is-success">Form is valid</div> -->
              <input type="submit" class="btn btn-primary mr-5"  value="Sign Up">
              <!-- <button type="submit" class="btn btn-primary mr-5" [disabled]="!form1.valid">
                Signup
              </button> -->
            </div>  
          </form>
        </div>
      </div>
    </div>
  <!-- </div> -->
  
  <!-- </div> -->
  