<!--<app-customer-navigation></app-customer-navigation>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <div *ngIf="this.cloth">

                <h3>{{this.product.name}}</h3>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputState">Sizes</label>
                        <select id="inputState" class="form-control" (change)="setMaxQuantity($event)">
            <option selected value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
          </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputState">Quantity</label>
                        <select id="inputState" class="form-control" (change)="calculateProductPrice($event)">
            <option *ngFor="let num of this.quantityArr" value="{{num}}">{{num}}</option>
          </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputState">Price(Rs.)</label>
                        <h5 class="form-control">{{this.productPrice}}</h5>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputState"><span style="display:inline-block;width:17px"></span></label>
                        <button class="btn btn-primary" (click)="addClothToCart()" *ngIf="this.displayBtn">Add to <i class="fas fa-shopping-cart"></i></button>
                    </div>
                </div>
            </div>
            <!-------------Accessories---------------------------->
<!-- <div *ngIf="this.accessories">

                <h3>{{this.product.name}}</h3>
                <div class="form-row">

                    <div class="form-group col-md-2">
                        <label for="inputState">Quantity</label>
                        <select id="inputState" class="form-control" (change)="calculateProductPrice($event)">
            <option *ngFor="let num of this.quantityArr" value="{{num}}">{{num}}</option>
          </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputState">Price(Rs.)</label>
                        <h5 class="form-control">{{this.productPrice}}</h5>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputState"><span style="display:inline-block;width:17px"></span></label>
                        <button class="btn btn-primary" (click)="addClothToCart()" *ngIf="this.displayBtn">Add to
                          <i class="fas fa-shopping-cart"></i></button>
                    </div>
                </div>
            </div>
            <div class="mt-5" style="border-style:inset;border-color:coral;padding:7px">
                <span style="display: inline-block"><h3><i class="fas fa-truck"></i> Address</h3></span>
                <form [formGroup]="formDelivery">

                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" id="inputName" formControlName="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputAddress">Address</label>
                            <input type="type" class="form-control" id="inputAddress" formControlName="address" placeholder="11A,AAA Rd">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity" formControlName="city" placeholder="City">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCity">District</label>
                            <select class="form-control" id="inputDistrict" formControlName="district">
              <option *ngFor="let district of this.districts">{{district}}</option>
            </select>
                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <label for="inputMobile">Mobile Number</label>
                            <input type="text" class="form-control" id="inputMobile" formControlName="mobileno" placeholder="0715896321">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputGender">Gender</label>
                            <select class="form-control" id="inputGender" formControlName="gender">
              <option>Male</option>
              <option>Female</option>

            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>




        <div class="col-md-1"></div>
        <div class="col-md-4 mt-3">
            <h3><span><i class="fas fa-shopping-cart"></i></span>Cart</h3>
            <div style="height:350px;border-style: inset">
                <table class="p-1">
                    <tr *ngFor="let item of this.cartItems;index as i" class="mt-1 mr-1" style="list-style:none">
                        {{ item.name }} Size : {{ item.size}} | Quantity : {{item.quantity}} || Price: {{item.price}}
                        <button class="btn btn-danger ml-3" (click)="removeItem(i)"><i class="fas fa-trash-alt"></i>

                        </button>
                    </tr>
                </table>
            </div>
            <h5>Total Price: {{this.totalPrice }}</h5>
            <button class="btn btn-primary" (click)="this.saveOrder()">Save Order</button>
        </div>
    </div>
</div>-->

<app-customer-navigation></app-customer-navigation>
<section class="banner-area organic-breadcrumb mt-0" style="background-color: deeppink">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center">
            <div class="col-first">
                <span class="btn-lg"><i class="fas fa-user-tie bg-dark"></i></span>
                <h3>Cart</h3>
                <nav class="d-flex align-items-center justify-content-start">
                    <a routerLink="">Home<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    <a routerLink="/productsMen">Men's<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    <a routerLink="/productsWomen">Women's<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    <a routerLink="/productsAccessories">Accessories<i class="fa fa-caret-right" aria-hidden="true"></i></a>



                </nav>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="cart-title">
        <div class="row">
            <div class="col-md-4">
                <h6 class="ml-15">Product</h6>
            </div>
            <div class="col-md-2">
                <h6>Price(Rs.)</h6>
            </div>
            <div class="col-md-2">
                <h6>Category</h6>
            </div>
            <div class="col-md-2">
                <h6>Quantity</h6>
            </div>

            <div class="col-md-1">
                <h6>Total</h6>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
    <div class="cart-single-item" *ngFor="let items of this.cartItems;index as i">
        <div class="row align-items-center">
            <div class="col-md-4 col-12">
                <div class="product-item d-flex align-items-center">
                    <img src="{{items.imgFront}}" class="img-fluid" alt="">
                    <p>{{items.name}}</p>
                </div>
            </div>
            <div class="col-md-2 col-6">
                <div class="price">Rs.{{items.unitPrice}}</div>
            </div>
            <div class="col-md-2 col-6">
                <div class="price" *ngIf="this.cloth">
                    <select [(ngModel)]="sizeOfCloth">
                  <option selected value="Small">Small</option>
                  <option value="Medium">Medium</option>
                  <option value="Large">Large</option>
                </select>
                </div>
                <div class="price" *ngIf="this.accessories">
                    <span style="width:15px;display: inline-box"></span>
                </div>
            </div>
            <div class="col-md-2 col-6">
                <div class="quantity-container d-flex align-items-center mt-15">
                    <input type="text" class="quantity-amount" value="{{items.quantity}}" min="0" />
                    <div class="arrow-btn d-inline-flex flex-column">
                        <button class="increase arrow" type="button" title="Increase Quantity" (click)="increaseProductPrice(i)"><span class="lnr lnr-chevron-up"></span></button>
                        <button class="decrease arrow" type="button" title="Decrease Quantity" (click)="decreaseProductPrice(i)"><span class="lnr lnr-chevron-down"></span></button>
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-12">
                <div class="total">{{items.price}}</div>
            </div>
            <div class="col-md-1 col-12">
                <div class="total"><button class="btn btn-danger" (click)="this.removeProduct(i)"><i class="fas fa-trash-alt"></i></button></div>
            </div>
        </div>
    </div>


    <div class="cupon-area d-flex align-items-center justify-content-between flex-wrap">
        <div class="cuppon-wrap d-flex align-items-center flex-wrap">
            <div class="cupon-code">
                <input type="text" [(ngModel)]="this.coupenCode">
                <button class="view-btn color-2" (click)="this.sendCoupen()"><span>Apply</span></button>
            </div>
        </div>
    </div>
    <div class="subtotal-area d-flex align-items-center justify-content-end">
        <div class="title text-uppercase">Subtotal</div>
        <div class="subtotal">{{this.totalPrice}}</div>
    </div>
    <div class="shipping-area d-flex justify-content-end">
        <div class="tile text-uppercase">Shipping</div>
        <ul class="d-flex flex-column align-items-end">
            <li class="filter-list">
                <label for="flat-rate">Flat Rate:<span>$5.00</span></label>
                <input class="pixel-radio" type="radio" id="flat-rate" name="brand">
            </li>
            <li class="filter-list">
                <label for="free-shipping">Free Shipping</label>
                <input class="pixel-radio" type="radio" id="free-shipping" name="brand">
            </li>
            <li class="filter-list">
                <label for="flat-rate-2">Flat Rate:<span>$10.00</span></label>
                <input class="pixel-radio" type="radio" id="flat-rate-2" name="brand">
            </li>
            <li class="filter-list">
                <label for="local-delivery">Local Delivery:<span>$2.00</span></label>
                <input class="pixel-radio" type="radio" id="local-delivery" name="brand">
            </li>
            <li class="calculate">Calculate Shipping</li>
        </ul>
        <div class="sorting">
            <select>
                  <option value="1">Bangladesh</option>
                  <option value="1">India</option>
                  <option value="1">Srilanka</option>
              </select>
        </div>
        <div class="sorting mt-20">
            <select>
                  <option value="1">Select a State</option>
                  <option value="1">Select a State</option>
                  <option value="1">Select a State</option>
              </select>
        </div>
        <input type="text" placeholder="Postcode/Zipcode" onfocus="this.placeholder=''" onblur="this.placeholder = 'Postcode/Zipcode'" required class="common-input mt-10">
        <button class="view-btn color-2 mt-10"><span>Update Details</span></button>
    </div>
    <a class="btn btn-success" routerLink="/checkout">Proceed to checkout</a>
</div>
<!-- End Cart Area -->

<!-- Start Most Search Product Area -->
<section class="section-half">
    <div class="container">
        <div class="organic-section-title text-center">
            <h3>Most Searched Products</h3>
        </div>
        <div class="row mt-30">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-search-product d-flex">
                    <a href="#"><img src="img/r1.jpg" alt=""></a>
                    <div class="desc">
                        <a href="#" class="title">Pixelstore fresh Blueberry</a>
                        <div class="price"><span class="lnr lnr-tag"></span> $240.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-search-product d-flex">
                    <a href="#"><img src="img/r2.jpg" alt=""></a>
                    <div class="desc">
                        <a href="#" class="title">Pixelstore fresh Cabbage</a>
                        <div class="price"><span class="lnr lnr-tag"></span> $189.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-search-product d-flex">
                    <a href="#"><img src="img/r3.jpg" alt=""></a>
                    <div class="desc">
                        <a href="#" class="title">Pixelstore fresh Raspberry</a>
                        <div class="price"><span class="lnr lnr-tag"></span> $189.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-search-product d-flex">
                    <a href="#"><img src="img/r4.jpg" alt=""></a>
                    <div class="desc">
                        <a href="#" class="title">Pixelstore fresh Kiwi</a>
                        <div class="price"><span class="lnr lnr-tag"></span> $189.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-search-product d-flex">
                    <a href="#"><img src="img/r5.jpg" alt=""></a>
                    <div class="desc">
                        <a href="#" class="title">Pixelstore Bell Pepper</a>
                        <div class="price"><span class="lnr lnr-tag"></span> $120.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-search-product d-flex">
                    <a href="#"><img src="img/r6.jpg" alt=""></a>
                    <div class="desc">
                        <a href="#" class="title">Pixelstore fresh Blackberry</a>
                        <div class="price"><span class="lnr lnr-tag"></span> $120.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-search-product d-flex">
                    <a href="#"><img src="img/r7.jpg" alt=""></a>
                    <div class="desc">
                        <a href="#" class="title">Pixelstore fresh Brocoli</a>
                        <div class="price"><span class="lnr lnr-tag"></span> $120.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-search-product d-flex">
                    <a href="#"><img src="img/r8.jpg" alt=""></a>
                    <div class="desc">
                        <a href="#" class="title">Pixelstore fresh Carrot</a>
                        <div class="price"><span class="lnr lnr-tag"></span> $120.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-search-product d-flex">
                    <a href="#"><img src="img/r9.jpg" alt=""></a>
                    <div class="desc">
                        <a href="#" class="title">Pixelstore fresh Strawberry</a>
                        <div class="price"><span class="lnr lnr-tag"></span> $240.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-search-product d-flex">
                    <a href="#"><img src="img/r10.jpg" alt=""></a>
                    <div class="desc">
                        <a href="#" class="title">Prixma MG2 Light Inkjet</a>
                        <div class="price"><span class="lnr lnr-tag"></span> $240.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-search-product d-flex">
                    <a href="#"><img src="img/r11.jpg" alt=""></a>
                    <div class="desc">
                        <a href="#" class="title">Pixelstore fresh Cherry</a>
                        <div class="price"><span class="lnr lnr-tag"></span> $240.00 <del>$340.00</del></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-search-product d-flex">
                    <a href="#"><img src="img/r12.jpg" alt=""></a>
                    <div class="desc">
                        <a href="#" class="title">Pixelstore fresh Beans</a>
                        <div class="price"><span class="lnr lnr-tag"></span> $240.00 <del>$340.00</del></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Most Search Product Area -->
