<div class="bg-success" style="border:17px">
    <nav class="navbar navbar-expand-lg shadow p-3 mb-5" style="border-bottom-color: springgreen;background-color: lightblue">
        <a class="navbar-brand justify-content-center ml-5 text-success" href="#" style="font-size: 35px"><img src="../../../assets/img/images1.jpg" class="rounded-circle" style="width:25%;height:25%">tryOn</a>
        <button class="navbar-toggler btn btn-dark" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav" *ngIf="this.getRole()=='H'">
            <ul class="navbar-nav mt-5" style="font-size: 25px">
                <li class="nav-item">
                    <!--<a class="nav-link text-light" href="#">Home <span class="sr-only">(current)</span></a>-->
                    <a class="nav-link text-success" routerLink=''>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" routerLink="/Products">Costumes & Accessories</a>
                </li>

                <!-------------------------------------------------------->


                <li class="nav-item dropdown" *ngIf="this.isLoggedIn()">
                    <a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Store
          </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/Customer/Orderdetails" style="color:black">Orders</a>
                        <a class="dropdown-item" style="color:black">Find Items</a>
                        <a class="dropdown-item" href='' style="color:black">News later</a>
                    </div>
                </li>

                <!--<li class="nav-item">
        <a class="nav-link" routerLink="/Customer/Orderdetails" style="color:white">Orders</a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href='' style="color:white">News later</a>

      </li>-->
                <li class="nav-item dropdown" *ngIf="this.isLoggedIn()">
                    <a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/Customer/CustomerProfile']" style="color:black">Profile</a>
                        <a class="dropdown-item" [routerLink]="['/Customer/ResetCredentials']" style="color:black">Access credentials</a>

                        <a class="dropdown-item" style="color:black" (click)="logout()">Logout</a>

                    </div>
                </li>

                <li class="nav-item" *ngIf="!this.isLoggedIn()">
                    <a class="nav-link text-success" href='' style="color:white">About us</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" *ngIf="!this.isLoggedIn()" routerLink="/login" style="color:white">Login</a>
                    <!--
          <a class="nav-link" *ngIf="this.isLoggedIn()" style="color:white" (click)="logout()">Logout</a>
       -->
                </li>
                <!--
        <li class="nav-item">
        <button type="button" class="btn btn-outline-info mr-3" data-toggle="modal" data-target="#exampleModal"><a
            class="nav-link" style="color:white">Login</a></button>

      </li>
    -->
                <li class="nav-item">
                    <a class="nav-link text-success" href='' style="color:white"><span style="display:inline-block;width:35px"></span></a>

                </li>
            </ul>

        </div>

        <!--Receptionist-->

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav" *ngIf="this.getRole()=='R'">
            <ul class="navbar-nav mt-5" style="font-size: 25px">
                <li class="nav-item">
                    <!--<a class="nav-link text-light" href="#">Home <span class="sr-only">(current)</span></a>-->
                    <a class="nav-link text-success" routerLink=''>Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Costumes & Accessories
              </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item text-success" routerLink="/Receptionist">Add Items</a>
                        <a class="dropdown-item text-success" routerLink="/Receptionistproductedit">Edit
    Items</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" routerLink="/Orderdetails">Orders</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" href=''>About us</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" (click)="this.logout()">Logout</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href=''><span style="display:inline-block;width:35px"></span></a>

                </li>
            </ul>
        </div>

        <!--Customer-->

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav" *ngIf="this.getRole()=='C'">
            <ul class="navbar-nav mt-5" style="font-size: 25px">
                <li class="nav-item">
                    <!--<a class="nav-link text-light" href="#">Home <span class="sr-only">(current)</span></a>-->
                    <a class="nav-link text-success" routerLink=''>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" routerLink="/Products">Costumes & Accessories</a>
                </li>
                <li class="nav-item">
                    <!-- Example split danger button -->
                    <a class="nav-link text-success" routerLink="/shoppingcart/`">My
          cart({{this.itemsCountShoppingCart()}})</a>

                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Store
          </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item text-success" routerLink="/Orderdetails">Orders</a>
                        <a class="dropdown-item text-success" routerLink="/CustomerSearchProduct">Find Items</a>
                        <a class="dropdown-item text-success" routerLink="/CustomerBottumMeasurement">Bottum Measurements</a>
                        <a class="dropdown-item text-success" routerLink="/CustomerTopMeasurement">Top Measurements</a>

                        <a class="dropdown-item text-success" href=''>News later</a>
                    </div>
                </li>

                <!--<li class="nav-item">
        <a class="nav-link" routerLink="/Customer/Orderdetails" style="color:white">Orders</a>

      </li>
      <li class="nav-item">
        <a class="nav-link" href='' style="color:white">News later</a>

      </li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user">                        <small>{{this.getEmail()}}</small>
                        </i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item text-success" [routerLink]="['/CustomerProfile']">Profile</a>
                        <a class="dropdown-item text-success" [routerLink]="['/ResetCredentials']">Access credentials</a>

                        <a class="dropdown-item text-success" (click)="logout()">Logout</a>

                    </div>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href=''><span style="display:inline-block;width:35px"></span></a>

                </li>-->
                <!--<li class="nav-item">
        <button type="button" class="btn btn-outline-info mr-3" data-toggle="modal" data-target="#exampleModal"><a
            class="nav-link" style="color:white">Login</a></button>

      </li>
    -->
            </ul>
        </div>



    </nav>
</div>
<h1 style="text-align: center" class="" *ngIf="this.getRole()=='C' || this.getRole()=='H'"><b class="header-title">Purchase Online ... Get delivered to the home</b></h1>

<!-- Modal -->