@import "../../../node_modules/bootstrap/dist/css/bootstrap.min.css";


  .app-form__input, .customizer-form__input {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: transparent;
    width: 100%;
    padding-bottom: 15px;
    color: #888;
    font-family: montserrat-light,Arial,sans-serif;
    font-size: .875rem;
    outline: none;
}
.app-form__select, .customizer-form__select, .select-like-input {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
.light-blue-backdrop {
    background-color: #5cb3fd;
}
  .btn-inf {
    padding: 10px;
    color: red;
}