<!--<app-receptionist-navigation></app-receptionist-navigation>
 <nav aria-label="breadcrumb" class="mt-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"> <a [routerLink]="">T-shirts</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/Receptionistproductedit/suitform']">Shirts </a> </li>
    <li class="breadcrumb-item"><a [routerLink]="['/Receptionist/tightsform']">Trousers</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/Receptionist/tightsform']">Shorts</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/Receptionist/suitform']">Sarees</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/Receptionist/accessoriesform','Accessories']">Accessories</a></li>
  </ol>
</nav> -->
<div class="container-fluid badge-pill">
    <!--<h3 class="mt-3 ml-3">Edit product details</h3>-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="">Home</a>
        </li>
        <li class="breadcrumb-item active">Edit products</li>
    </ol>

    <div class="row">

        <div class="col-md-3 ml-1 mt-3">
            <div class="form-row align-items-center ml-5">
                <div class="col-auto my-1">
                    <label class="mr-sm-2 mt-1" for="productSelect">
          <h5>Product</h5>
        </label>
                </div>
                <div class="col-auto my-1">
                    <select id="productSelect" class="custom-select mr-sm-2" (change)="selectChangeHandler($event)">
          <option *ngFor="let item of items">{{ item }}</option>
        </select>
                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary" (click)="getAll()">
          View
        </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <div *ngIf="this.isLoading" class="spinner-border text-primary ml-5 mr-5" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <table *ngIf="this.type=='clothes' || this.type=='tights'" class="table table-striped overflow-auto table-hover">
                <caption>
                    <h5>{{ item }}</h5>
                </caption>

                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Small Price(RS.)</th>
                        <th scope="col">Medium Price(RS.)</th>
                        <th scope="col">Large Price(RS.)</th>
                        <th scope="col"></th>
                        <th scope="col"></th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of itemObjects; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ item.name }}</td>
                        <td>
                            {{ item.small.quantity+item.medium.quantity+item.large.quantity }}
                        </td>
                        <td>{{ item.small.price }}</td>
                        <td>{{ item.medium.price }}</td>
                        <td>{{ item.large.price }}</td>

                        <td>
                            <button class="btn btn-primary" (click)="viewProducts(i)">
              Update
            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="removeProduct(i)">
                            <i class="far fa-trash-alt"></i>
            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table *ngIf="this.type=='accessories'" class="table table-striped overflow-auto table-hover">
                <caption>
                    <h5>{{ item }}</h5>
                </caption>

                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price(RS.)</th>
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of itemObjects; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ item.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>

                        <td>
                            <button class="btn btn-primary" (click)="viewProducts(i)">
              Update
            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="removeProduct(i)">
                            <i class="far fa-trash-alt"></i>
            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>