<div class="container-fluid bg-light bg-light">
    <!--<div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3>{{ this.title }}</h3>
        </div>
        <div class="col-md-4"></div>
    </div>-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="">Home</a>
        </li>
        <li class="breadcrumb-item active">{{ this.title }}</li>
    </ol>
    <div class="row">

        <div class="col-md-12">
            <form [formGroup]="form" (submit)="addCloth()">
                <div class="form-row">
                    <div class="col-md-7">
                        <label for="inputEmail4">Name</label>
                        <input type="text" class="form-control mb-3" id="inputEmail4" placeholder="" formControlName="name">

                        <label for="inputEmail4">Description</label>
                        <textarea class="form-control mb-3" id="inputEmail4" placeholder="" formControlName="description"></textarea>
                    </div>
                    <div class="col-md-5">
                        <img src="../../../assets/img/jacket.png" *ngIf="this.newProduct">

                        <div style="border:inset;border-width: 7px;width:300px;height:350px" *ngIf="!this.newProduct">
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div style="width:300px;height:300px">
                                            <img class="d-block w-100" [src]="this.imgFrontPath" alt="First slide">
                                        </div>
                                        <h3>Front Side</h3>
                                    </div>
                                    <div class="carousel-item">
                                        <div style="width:300px;height:300px">

                                            <img class="d-block w-100" [src]="this.imgBackPath" alt="Second slide">
                                        </div>
                                        <h3>Back Side</h3>

                                    </div>
                                    <div class="carousel-item">
                                        <div style="width:300px;height:300px">

                                            <img class="d-block w-100" [src]="this.imgLeftPath" alt="Third slide">
                                        </div>
                                        <h3>Left Side</h3>

                                    </div>
                                    <div class="carousel-item">
                                        <div style="width:300px;height:300px">

                                            <img class="d-block w-100" [src]="this.imgRightPath" alt="Third slide">
                                        </div>
                                        <h3>Right Side</h3>

                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered text-black rounded" style="background-color: aliceblue">
                    <h5><b>Measurements</b></h5>
                    <tr>
                        <th>#</th>
                        <th colspan="2" class="text-center">XXS</th>
                        <th colspan="2" class="text-center">XS</th>

                        <th colspan="2" class="text-center">Small</th>
                        <th colspan="2" class="text-center">Medium</th>
                        <th colspan="2" class="text-center">Large</th>
                        <th colspan="2" class="text-center">XL</th>
                        <th colspan="2" class="text-center">XXL</th>

                    </tr>
                    <tr>
                        <td style="color:#999">Neck</td>
                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXXSNeck1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXXSNeck2" value="0">
                        </td>


                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXSNeck1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXSNeck2" value="0">
                        </td>



                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementSNeck1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementSNeck2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementMNeck1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementMNeck2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementLNeck1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementLNeck2" value="0">
                        </td>


                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXLNeck1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXLNeck2" value="0">
                        </td>
                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXXLNeck1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXXLNeck2" value="0">
                        </td>


                    </tr>

                    <tr style="color:#8fccc0">
                        <td>Shoulder Width</td>
                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXXSShoulderW1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXXSShoulderW2" value="0">
                        </td>
                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXSShoulderW1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXSShoulderW2" value="0">
                        </td>


                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementSShoulderW1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementSShoulderW2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementMShoulderW1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementMShoulderW2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementLShoulderW1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementLShoulderW2" value="0">
                        </td>


                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXLShoulderW1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXLShoulderW2" value="0">
                        </td>
                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXXLShoulderW1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXXLShoulderW2" value="0">
                        </td>

                    </tr>

                    <tr style="color:#44db5e">
                        <td>Biceps</td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXXSBicep1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXXSBicep2" value="0">
                        </td>
                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXSBicep1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXSBicep2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementSBicep1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementSBicep2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementMBicep1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementMBicep2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementLBicep1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementLBicep2" value="0">
                        </td>


                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXLBicep1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXLBicep2" value="0">
                        </td>
                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXXLBicep1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXXLBicep2" value="0">
                        </td>

                    </tr>

                    <tr style="color:#5751d9">
                        <td>Jacket Length</td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXXSJacketL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXXSJacketL2" value="0">
                        </td>
                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXSJacketL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXSJacketL2" value="0">
                        </td>



                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementSJacketL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementSJacketL2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementMJacketL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementMJacketL2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementLJacketL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementLJacketL2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXLJacketL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXLJacketL2" value="0">
                        </td>
                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXXLJacketL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXXLJacketL2" value="0">
                        </td>

                    </tr>

                    <tr style="color:#5751d9">
                        <td>Sleeve Length</td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXXSSleeveL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXXSSleeveL2" value="0">
                        </td>
                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXSSleeveL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXSSleeveL2" value="0">
                        </td>



                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementSSleeveL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementSSleeveL2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementMSleeveL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementMSleeveL2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementLSleeveL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementLSleeveL2" value="0">
                        </td>


                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXLSleeveL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXLSleeveL2" value="0">
                        </td>
                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXXLSleeveL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXXLSleeveL2" value="0">
                        </td>

                    </tr>

                    <tr style="color:#ff2851">
                        <td>Chest</td>


                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXXSChest1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXXSChest2" value="0">
                        </td>
                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXSChest1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXSChest2" value="0">
                        </td>



                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementSChest1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementSChest2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementMChest1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementMChest2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementLChest1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementLChest2" value="0">
                        </td>


                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXLChest1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXLChest2" value="0">
                        </td>
                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementXXLChest1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementXXLChest2" value="0">
                        </td>

                    </tr>

                    <tr style="color:#ff9500">
                        <td>Quantity</td>
                        <td colspan="2"> Quantity<input type="number" class="form-control" min="0" formControlName="MeasurementXXSQ" value="0">
                        </td>
                        <!-- <td>Price(Rs.) <input type="number" class="form-control" min="0" formControlName="MeasurementXXSP" value="0">
                        </td>-->
                        <td colspan="2"> Quantity<input type="number" class="form-control" min="0" formControlName="MeasurementXSQ" value="0">
                        </td>
                        <!--  <td>Price(Rs.) <input type="number" class="form-control" min="0" formControlName="MeasurementXSP" value="0">
                        </td>-->

                        <td colspan="2"> Quantity<input type="number" class="form-control" min="0" formControlName="MeasurementSQ" value="0">
                        </td>
                        <!--   <td>Price(Rs.) <input type="number" class="form-control" min="0" formControlName="MeasurementSP" value="0">
                        </td>-->

                        <td colspan="2"> Quantity<input type="number" class="form-control" min="0" formControlName="MeasurementMQ" value="0">
                        </td>
                        <!--  <td> Price(Rs.) <input type="number" class="form-control" min="0" formControlName="MeasurementMP" value="0">
                        </td>-->

                        <td colspan="2">
                            Quantity
                            <input type="number" class="form-control" min="0" formControlName="MeasurementLQ" value="0">
                        </td>
                        <!--  <td>Price(Rs.) <input type="number" class="form-control" min="0" formControlName="MeasurementLP" value="0">
                        </td>-->


                        <td colspan="2"> Quantity<input type="number" class="form-control" min="0" formControlName="MeasurementXLQ" value="0">
                        </td>
                        <!--   <td>Price(Rs.) <input type="number" class="form-control" min="0" formControlName="MeasurementXLP" value="0">
                        </td>-->
                        <td colspan="2"> Quantity<input type="number" class="form-control" min="0" formControlName="MeasurementXXLQ" value="0">
                        </td>
                        <!--  <td>Price(Rs.) <input type="number" class="form-control" min="0" formControlName="MeasurementXXLP" value="0">
                        </td>-->

                    </tr>

                </table>
                <div class="form-row">

                    <div class="form-group col-md-1"></div>
                    <div class="form-group col-md-3">
                        <input type="submit" class="btn btn-primary" value="Save" *ngIf="this.newProduct">
                        <input type="submit" class="btn btn-primary" value="Update" *ngIf="!this.newProduct">

                    </div>
                    <div class="form-group col-md-1"></div>

                    <div class="form-group col-md-3">
                        <input type="reset" class="btn btn-primary" value="Cancel">
                    </div>
                </div>


            </form>
        </div>
        <div class="col-md-3">

            <!--------------------------------------->
        </div>
    </div>
    <div class="row" *ngIf="!this.newProduct">

        <div class="col-md-3">
            <div class="card-group">
                <div class="card" style="width:300px;height:300px">
                    Preview 1
                    <div style="width:150px;height:150px">

                        <img class="card-img-top" [src]="this.imageFrontPreview" alt="Card image cap" *ngIf="this.imageFrontPreview !=='' && this.imageFrontPreview">
                    </div>
                    <div class="card-body bg-dark text-dark">
                        <form [formGroup]="formFrontImage" (submit)="UploadImage('Front')">
                            <div class="form-row">

                                <div class="form-group col-md-3">
                                    <!--<button type="button" (click)="filePickerFront">Pick Image</button>-->
                                    <input type="file" #filePickerFront (change)="frontImagePicked($event)" style="display:hidden" value="Pick Image" title="">
                                </div>
                                <div class="form-group ml-5 col-md-3">
                                    <input type="submit" style="display:hidden" value="Upload Image">
                                </div>

                            </div>
                        </form>
                    </div>
                    <!-- <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>-->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-group">
                <div class="card" style="width:300px;height:300px">
                    Preview 2

                    <div style="width:150px;height:150px">

                        <img class="card-img-top" [src]="this.imageLeftPreview" alt="Card image cap" *ngIf="this.imageLeftPreview !=='' && this.imageLeftPreview">
                    </div>
                    <div class="card-body bg-dark text-dark">
                        <form [formGroup]="formLeftImage" (submit)="UploadImage('Left')">
                            <div class="form-row">

                                <div class="form-group col-md-3">
                                    <!--<button type="button" (click)="filePickerFront">Pick Image</button>-->
                                    <input type="file" #filePickerFront (change)="leftImagePicked($event)" style="display:hidden" value="Pick Image">
                                </div>
                                <div class="form-group ml-5 col-md-3">
                                    <input type="submit" style="display:hidden" value="Upload Image">
                                </div>

                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card-group">
                <div class="card" style="width:300px;height:300px">
                    Preview 3

                    <div style="width:150px;height:150px">

                        <img class="card-img-top" [src]="this.imageRightPreview" alt="Card image cap" *ngIf="this.imageRightPreview !=='' && this.imageRightPreview">
                    </div>
                    <div class="card-body bg-dark text-dark">
                        <form [formGroup]="formRightImage" (submit)="UploadImage('Right')">
                            <div class="form-row">

                                <div class="form-group col-md-3">
                                    <!--<button type="button" (click)="filePickerFront">Pick Image</button>-->
                                    <input type="file" #filePickerFront (change)="rightImagePicked($event)" style="display:hidden" value="Pick Image">
                                </div>
                                <div class="form-group ml-5 col-md-3">
                                    <input type="submit" style="display:hidden" value="Upload Image">
                                </div>

                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-group">
                <div class="card" style="width:300px;height:300px">
                    Preview 4

                    <div style="width:150px;height:150px">

                        <img class="card-img-top" [src]="this.imageBackPreview" alt="Card image cap" *ngIf="this.imageBackPreview !=='' && this.imageBackPreview">
                    </div>
                    <div class="card-body bg-dark text-dark">
                        <form [formGroup]="formBackImage" (submit)="UploadImage('Back')">
                            <div class="form-row">

                                <div class="form-group col-md-3">
                                    <!-- <button type="button" (click)="filePickerFront">Pick Image</button>-->
                                    <input type="file" #filePickerFront (change)="backImagePicked($event)" style="display:hidden" value="Pick Image">
                                </div>
                                <div class="form-group ml-5 col-md-3">
                                    <input type="submit" style="display:hidden" value="Upload Image">
                                </div>

                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>