<div class="container-fluid bg-light bg-light">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
            <h1>{{ this.title }}</h1>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-8">
            <form [formGroup]="form" (submit)="addCloth()">
                <label for="inputEmail4">Description</label>
                <input type="text" class="form-control mb-3" id="inputEmail4" placeholder="" formControlName="name">

                <table class="table table-bordered text-black rounded" style="background-color: blanchedalmond">
                    <h5><b>Measurements</b></h5>
                    <tr>
                        <th>#</th>
                        <th colspan="2" class="text-center">Small</th>
                        <th colspan="2" class="text-center">Medium</th>
                        <th colspan="2" class="text-center">Large</th>
                    </tr>
                    <tr>
                        <td style="color:#999">Neck</td>
                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementSNeck1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementSNeck2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementMNeck1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementMNeck2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementLNeck1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementLNeck2" value="0">
                        </td>

                    </tr>

                    <tr style="color:#8fccc0">
                        <td>Shoulder Width</td>
                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementSShoulderW1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementSShoulderW2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementMShoulderW1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementMShoulderW2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementLShoulderW1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementLShoulderW2" value="0">
                        </td>

                    </tr>

                    <tr style="color:#44db5e">
                        <td>Biceps</td>
                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementSBicep1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementSBicep2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementMBicep1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementMBicep2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementLBicep1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementLBicep2" value="0">
                        </td>

                    </tr>

                    <tr style="color:#5751d9">
                        <td>Jacket Length</td>
                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementSJacketL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementSJacketL2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementMJacketL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementMJacketL2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementLJacketL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementLJacketL2" value="0">
                        </td>

                    </tr>

                    <tr style="color:#5751d9">
                        <td>Sleeve Length</td>
                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementSSleeveL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementSSleeveL2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementMSleeveL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementMSleeveL2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementLSleeveL1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementLSleeveL2" value="0">
                        </td>

                    </tr>

                    <tr style="color:#ff2851">
                        <td>Chest</td>
                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementSChest1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementSChest2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementMChest1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementMChest2" value="0">
                        </td>

                        <td> <input type="number" class="form-control" min="0" formControlName="MeasurementLChest1" value="0">
                        </td>
                        <td class=""> <input type="number" class="form-control" min="0" formControlName="MeasurementLChest2" value="0">
                        </td>

                    </tr>

                    <tr style="color:#ff9500">
                        <td>Quantity & Price</td>
                        <td> Quantity<input type="number" class="form-control" min="0" formControlName="MeasurementSQ" value="0">
                        </td>
                        <td>Price(Rs.) <input type="number" class="form-control" min="0" formControlName="MeasurementSP" value="0">
                        </td>

                        <td> Quantity<input type="number" class="form-control" min="0" formControlName="MeasurementMQ" value="0">
                        </td>
                        <td> Price(Rs.) <input type="number" class="form-control" min="0" formControlName="MeasurementMP" value="0">
                        </td>

                        <td>
                            Quantity
                            <input type="number" class="form-control" min="0" formControlName="MeasurementLQ" value="0">
                        </td>
                        <td>Price(Rs.) <input type="number" class="form-control" min="0" formControlName="MeasurementLP" value="0">
                        </td>
                    </tr>

                </table>
                <div class="form-row">

                    <div class="form-group col-md-1"></div>
                    <div class="form-group col-md-3">
                        <input type="submit" class="btn btn-primary" value="Save" *ngIf="this.newProduct">
                        <input type="submit" class="btn btn-primary" value="Update" *ngIf="!this.newProduct">

                    </div>
                    <div class="form-group col-md-1"></div>

                    <div class="form-group col-md-3">
                        <input type="reset" class="btn btn-primary" value="Cancel">
                    </div>
                </div>


            </form>
        </div>
        <div class="col-md-3">
            <img src="../../../assets/img/jacket.png" *ngIf="this.newProduct">

            <div style="border:inset;border-width: 7px;width:300px;height:350px" *ngIf="!this.newProduct">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div style="width:300px;height:300px">
                                <img class="d-block w-100" [src]="this.imgFrontPath" alt="First slide">
                            </div>
                            <h3>Front Side</h3>
                        </div>
                        <div class="carousel-item">
                            <div style="width:300px;height:300px">

                                <img class="d-block w-100" [src]="this.imgBackPath" alt="Second slide">
                            </div>
                            <h3>Back Side</h3>

                        </div>
                        <div class="carousel-item">
                            <div style="width:300px;height:300px">

                                <img class="d-block w-100" [src]="this.imgLeftPath" alt="Third slide">
                            </div>
                            <h3>Left Side</h3>

                        </div>
                        <div class="carousel-item">
                            <div style="width:300px;height:300px">

                                <img class="d-block w-100" [src]="this.imgRightPath" alt="Third slide">
                            </div>
                            <h3>Right Side</h3>

                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!this.newProduct">

        <div class="col-md-3">
            <div class="card-group">
                <div class="card" style="width:300px;height:300px">
                    Preview 1
                    <div style="width:150px;height:150px">

                        <img class="card-img-top" [src]="this.imageFrontPreview" alt="Card image cap" *ngIf="this.imageFrontPreview !=='' && this.imageFrontPreview">
                    </div>
                    <div class="card-body bg-dark text-dark">
                        <form [formGroup]="formFrontImage" (submit)="UploadImage('Front')">
                            <div class="form-row">

                                <div class="form-group col-md-3">
                                    <!--<button type="button" (click)="filePickerFront">Pick Image</button>-->
                                    <input type="file" #filePickerFront (change)="frontImagePicked($event)" style="display:hidden" value="Pick Image" title="">
                                </div>
                                <div class="form-group ml-5 col-md-3">
                                    <input type="submit" style="display:hidden" value="Upload Image">
                                </div>

                            </div>
                        </form>
                    </div>
                    <!-- <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>-->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-group">
                <div class="card" style="width:300px;height:300px">
                    Preview 2

                    <div style="width:150px;height:150px">

                        <img class="card-img-top" [src]="this.imageLeftPreview" alt="Card image cap" *ngIf="this.imageLeftPreview !=='' && this.imageLeftPreview">
                    </div>
                    <div class="card-body bg-dark text-dark">
                        <form [formGroup]="formLeftImage" (submit)="UploadImage('Left')">
                            <div class="form-row">

                                <div class="form-group col-md-3">
                                    <!--<button type="button" (click)="filePickerFront">Pick Image</button>-->
                                    <input type="file" #filePickerFront (change)="leftImagePicked($event)" style="display:hidden" value="Pick Image">
                                </div>
                                <div class="form-group ml-5 col-md-3">
                                    <input type="submit" style="display:hidden" value="Upload Image">
                                </div>

                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card-group">
                <div class="card" style="width:300px;height:300px">
                    Preview 3

                    <div style="width:150px;height:150px">

                        <img class="card-img-top" [src]="this.imageRightPreview" alt="Card image cap" *ngIf="this.imageRightPreview !=='' && this.imageRightPreview">
                    </div>
                    <div class="card-body bg-dark text-dark">
                        <form [formGroup]="formRightImage" (submit)="UploadImage('Right')">
                            <div class="form-row">

                                <div class="form-group col-md-3">
                                    <!--<button type="button" (click)="filePickerFront">Pick Image</button>-->
                                    <input type="file" #filePickerFront (change)="rightImagePicked($event)" style="display:hidden" value="Pick Image">
                                </div>
                                <div class="form-group ml-5 col-md-3">
                                    <input type="submit" style="display:hidden" value="Upload Image">
                                </div>

                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-group">
                <div class="card" style="width:300px;height:300px">
                    Preview 4

                    <div style="width:150px;height:150px">

                        <img class="card-img-top" [src]="this.imageBackPreview" alt="Card image cap" *ngIf="this.imageBackPreview !=='' && this.imageBackPreview">
                    </div>
                    <div class="card-body bg-dark text-dark">
                        <form [formGroup]="formBackImage" (submit)="UploadImage('Back')">
                            <div class="form-row">

                                <div class="form-group col-md-3">
                                    <!-- <button type="button" (click)="filePickerFront">Pick Image</button>-->
                                    <input type="file" #filePickerFront (change)="backImagePicked($event)" style="display:hidden" value="Pick Image">
                                </div>
                                <div class="form-group ml-5 col-md-3">
                                    <input type="submit" style="display:hidden" value="Upload Image">
                                </div>

                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
