<app-home-naviation></app-home-naviation>
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h3 style="text-align: center">
                Register as a customer and enjoy more benifits
            </h3>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="border-light" style="border: 7px">
                <form [formGroup]="form" (submit)="signup()">
                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label for="inputName">Name <b style="color:red">*</b></label>
                            <input type="text" class="form-control" id="inputName" formControlName="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputAddress">Address</label>
                            <input type="type" class="form-control" id="inputAddress" formControlName="address" placeholder="11A,AAA Rd">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity" formControlName="city" placeholder="City">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputCity">District</label>
                            <select class="form-control" id="inputDistrict" formControlName="district">
                <option *ngFor="let district of this.districts">{{district}}</option>
              </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail">Email <b style="color:red">*</b></label>
                            <input type="email" class="form-control" id="inputEmail" formControlName="email" placeholder="abc@gmail.com">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputMobile">Mobile Number</label>
                            <input type="text" class="form-control" id="inputMobile" formControlName="mobileno" placeholder="0715896321">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputGender">Gender</label>
                            <select class="form-control" id="inputGender" formControlName="gender">
                <option>Male</option>
                <option>Female</option>

              </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputPassword">Password <b style="color:red">*</b></label>
                            <input type="password" class="form-control" (onkeydown)="this.passwordChanged()" id="inputPassword" formControlName="password">
                        </div>
                        <div class="form-group col-md-4">
                            {{this.strength}}
                        </div>
                    </div>

                    <input type="submit" class="btn btn-primary mr-5" value="Sign Up">
                    <input type="reset" class="btn btn-primary" value="Cancel">
                </form>
            </div>
        </div>
    </div>
</div>
